<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginWithGoogleServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.LoginWithGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpWithGoogleServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.SignUpWithGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithPasswordServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.LoginWithPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMusicServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.NewMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YoutubeVideosServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.YoutubeVideosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.MusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RankingMusicServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.RankingMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RankingArtistServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.RankingArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMessageServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.NewMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditArtistServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.EditArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMusicServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.EditMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMusicByAdminServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.DeleteMusicByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminArtistServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.AdminArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.AdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArtistByAdminServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.DeleteArtistByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawalServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.UserWithdrawalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountstop</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.UserStopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistWithDrawalServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.ArtistWithDrawalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistStopServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.ArtistStopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpTagsServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.SignUpTagsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTagsServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.DeleteTagsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluationTagsServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.EvaluationTagsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithGoogle</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.LoginWithGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpWithGoogle</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.SignUpWithGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithPassword</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.LoginWithPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taikaiServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.taikaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpUser</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.SignUpUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpArtist</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.SignUpArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMyListServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.AddMyListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.ArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMusicServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.SearchMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArtistServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.SearchArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LatestMusicServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.LatestMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMusicServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.AdminMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvertiseServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.AdvertiseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PointServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.PointServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UniqueCheckServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.UniqueCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMyListDetailServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.AddMyListDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyListServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.GetMyListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyListServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.MyListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluationCommentsServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.EvaluationCommentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteArtistServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.VoteArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopularMusicServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.PopularMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserByAdminServlet</servlet-name>
        <servlet-class>jp.ac.jec.jz.gr03.servlet.DeleteUserByAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginWithGoogleServlet</servlet-name>
        <url-pattern>/LoginWithGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpWithGoogleServlet</servlet-name>
        <url-pattern>/SignUpWithGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithPasswordServlet</servlet-name>
        <url-pattern>/LoginWithPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMusicServlet</servlet-name>
        <url-pattern>/NewMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YoutubeVideosServlet</servlet-name>
        <url-pattern>/YoutubeVideosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicServlet</servlet-name>
        <url-pattern>/MusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RankingMusicServlet</servlet-name>
        <url-pattern>/RankingMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RankingArtistServlet</servlet-name>
        <url-pattern>/RankingArtistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMessageServlet</servlet-name>
        <url-pattern>/NewMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditArtistServlet</servlet-name>
        <url-pattern>/EditArtistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMusicServlet</servlet-name>
        <url-pattern>/EditMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMusicByAdminServlet</servlet-name>
        <url-pattern>/DeleteMusicByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminArtistServlet</servlet-name>
        <url-pattern>/AdminArtistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/AdminUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArtistByAdminServlet</servlet-name>
        <url-pattern>/DeleteArtistByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawalServlet</servlet-name>
        <url-pattern>/WithdrawalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountstop</servlet-name>
        <url-pattern>/accountstop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistWithDrawalServlet</servlet-name>
        <url-pattern>/ArtistWithDrawalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistStopServlet</servlet-name>
        <url-pattern>/ArtistStopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpTagsServlet</servlet-name>
        <url-pattern>/SignUpTagsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTagsServlet</servlet-name>
        <url-pattern>/DeleteTagsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluationTagsServlet</servlet-name>
        <url-pattern>/EvaluationTagsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGoogle</servlet-name>
        <url-pattern>/LoginWithGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpWithGoogle</servlet-name>
        <url-pattern>/SignUpWithGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithPassword</servlet-name>
        <url-pattern>/LoginWithPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taikaiServlet</servlet-name>
        <url-pattern>/taikaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpUser</servlet-name>
        <url-pattern>/SignUpUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpArtist</servlet-name>
        <url-pattern>/SignUpArtist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMyListServlet</servlet-name>
        <url-pattern>/AddMyListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistServlet</servlet-name>
        <url-pattern>/ArtistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniqueCheckServlet</servlet-name>
        <url-pattern>/UniqueCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMyListDetailServlet</servlet-name>
        <url-pattern>/AddMyListDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMyListServlet</servlet-name>
        <url-pattern>/GetMyListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyListServlet</servlet-name>
        <url-pattern>/MyListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMusicServlet</servlet-name>
        <url-pattern>/SearchMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArtistServlet</servlet-name>
        <url-pattern>/SearchArtistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LatestMusicServlet</servlet-name>
        <url-pattern>/LatestMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMusicServlet</servlet-name>
        <url-pattern>/AdminMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvertiseServlet</servlet-name>
        <url-pattern>/AdvertiseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PointServlet</servlet-name>
        <url-pattern>/PointServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluationCommentsServlet</servlet-name>
        <url-pattern>/EvaluationCommentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/AddReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteArtistServlet</servlet-name>
        <url-pattern>/VoteArtistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DeleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopularMusicServlet</servlet-name>
        <url-pattern>/PopularMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserByAdminServlet</servlet-name>
        <url-pattern>/DeleteUserByAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
