/* 
    共通レイアウトのスタイル
    Created on : 2014/11/25, 9:15:33
    Author     : yada
*/

body {
    padding-top: 77px;
}

.container {
}

#header {
    height: 60px;
}

.navbar-brand {
  background: url("../img/logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 143px;
  margin-top: 5px;
}



#login-box {
    margin-top: 14px;
}
