/* 
    共通レイアウトのスタイル
    Created on : 2014/11/25, 9:15:33
    Author     : yada
*/

body {
    margin-top: 77px;
}

.container {
}

#header {
    height: 60px;
}

.navbar-brand {
  background: url("../img/logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 143px;
  margin-top: 5px;
}

#login-box {
    margin-top: 14px;
}

#common-menu-list {
    margin-top: 6px;
}
#common-menu-list>li {
    margin-bottom: 2px;
}

#sponsors img {
    border-radius: 3px;
    width: 100%;
}

#main {
    padding-top: 12px;
}

#footer {
    padding-top: 8px;
    text-align: center;
    background-color: #f7f7f7;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 55px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
