/* 
    Created on : 2014/10/27, 10:17:04
    Author     : 12jz0112
*/
#profile_text {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
    float: left;
}
#imagearea {
    border: lightblue 1px solid;
    width: 100px;
    height: 75px;
    margin: 0 0 10px 420px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}

