/*
    全画面共通のスタイル
    Created on : Dec 31, 2014, 6:21:51 PM
    Author     : yada
*/

body {
	background-color: #efefef;
	color: #333333;
	font-size: 17px;
}
.error {
    color: red;
}

.hidden {
    display: none;
    visibility: hidden;
}