/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/10/24, 10:12:05
    Author     : 12jz0112
*/
#header {
    background-color: silver;
}
#header_title {
    float: left;
}
#top_link {
    
}
#header_links {
    font-size: 20px;
    padding-top: 0px;
    text-align: right;
    margin-right: 20px;
}
#sidebar {
    width: 180px;
    float: left;
    border: lightgreen 1px solid;
    height: 800px;
    background-color: mintcream;
}
#sidebar2 {
	clear: both;
    width: 180px;
    float: left;
    height: auto;
    background-color: mintcream;
}
#ads {
    padding-top: 10px;
    text-align: center;
}
#main {
    margin: 10px 20px 10px 200px;
    border: orange 1px solid;
    min-height: 800px;
    background-color: mintcream;
}
#page_title {
    font-size: 28px;
    text-decoration: underline;
    margin: 20px;
}
#page_content {
    margin: 0 30px;
}


#footer {
    border: pink 1px solid;
    height: 50px;
    background-color: mintcream;
}

