/* 
    Created on : 2014/12/14, 17:29:34
    Author     : yada
*/
#advertise-error {
    color: red;
}

.tag {
    margin: 0 10px 5px 0;
    padding: 2px 5px;
    display: inline-block;
    background-color: lightgray;
}