/* 
    Created on : 2014/12/14, 17:29:34
    Author     : yada
*/

.tag {
    margin: 0 10px 5px 0;
    display: inline-block;
}
.tag-name {
    padding: 2px 5px;
    background-color: lightgray;
}

.tag-delete-button {
    cursor: pointer;
}