/* 
    Created on : 2014/12/14, 17:29:34
    Author     : yada
*/

#video {
    margin: 4px 0 8px;
}

.tag {
    margin: 0 10px 5px 0;
    display: inline-block;
}
.tag-name {
    padding: 2px 5px;
    background-color: lightgray;
}

.tag-delete-button {
    cursor: pointer;
}

#add-tag-form {
    margin-top: 10px;
}

#add-tag-button {
    cursor: pointer;
}

#add-comment-form {
    margin-bottom: 20px;
}

#artist-panel {
    margin-top: 60px;
}
