/* 
    Created on : 2014/10/27, 11:14:56
    Author     : 12jz0112
*/
#profile_text {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
    float: left;
}
#frm>span {
    line-height: 23px;
}
